<div class = "container">
    <h1 class="text-center thanx">ご購入ありがとうございました！</h1><br>
    <div class="col-xs-7 text-center">
      <%= link_to "　注文履歴はこちら　", customers_orders_path, class: "glyphicon glyphicon-folder-open btn btn-info pull-right" %>
    </div>
  </div>
</div>