// Place all the styles related to the customers/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.thanx{
  background-image: image-url('img/largee.jpeg');
  min-height: 600px;
  background-size: cover;
  padding-top: 120px;
  color:white;
  text-align:center;
}