<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center'>

      <h4>ようこそ、ながの<strong>CAKE</strong>へ！</h4>
      <p>このサイトは、ケーキ販売の<strong>EC</strong>サイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
      
    
      <h2>新着商品</h2>
      <div class="row mt-3">
        <% @items.last(4).each do |item| %>
          <div class="col-md-2.5" style="margin-left: 80px;">
            <div class="row">
              <div class="col-md-12 text-left">
                <%= link_to customers_item_path(item.id) do %>
                <% end %>
              </div>
            </div>
          <div class="row">
            <div class="col-md-12 text-left" style="margin-top: 20px;">
              <strong><p><%= item.name %></p></strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-left">
              <strong><p>￥<%= item.price.to_s(:delimited) %></p></strong>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  

      <div class="row">
        <div class="col-md-11">
         <div class="text-right"><%= link_to "全ての商品を見る", customers_items_path %></div>
        </div>
      </div>
    </div>
  </div>
</div>

