<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center'>
      
      <h4>ようこそ、ながの<strong>CAKE</strong>へ！</h4>
      <p>このサイトは、ケーキ販売の<strong>EC</strong>サイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
      
      <p>新商品</p>
      
      <div class="row">
        <div class="col-md-11">
         <div class="text-right"><%= link_to "全ての商品を見る" %></div>
        </div>
      </div>
    </div>
  </div>
</div>

